common --registry=https://raw.githubusercontent.com/aspect-build/bazel-central-registry/aspect_rules_py-v1.7.1
common --registry=https://bcr.bazel.build


common --experimental_isolated_extension_usages

common -c opt

common --platforms=@@sonic-build-infra+//platform:x86_64_trixie

common:aarch64 --platforms=@@sonic-build-infra+//platform:aarch64_trixie

build --workspace_status_command=scripts/workspace_status.sh
build --stamp
# === Remote Cache ===
common --remote_cache=grpc://11.159.98.184:9092
common --experimental_remote_downloader=grpc://11.159.98.184:9092
common --experimental_remote_downloader_local_fallback
