[Unit]
Description=EVENTD container
Requires=config-setup.service
After=rsyslog-config.service
BindsTo=sonic.target
After=sonic.target
StartLimitIntervalSec=1200
StartLimitBurst=3

[Service]
ExecStartPre=/usr/bin/eventd.sh start
ExecStart=/usr/bin/eventd.sh wait
ExecStop=/usr/bin/eventd.sh stop
RestartSec=30

[Install]
WantedBy=sonic.target
