[Unit]
Description=NAT container
Requires=config-setup.service
After=config-setup.service swss.service syncd.service
BindsTo=sonic.target
After=sonic.target
StartLimitIntervalSec=1200
StartLimitBurst=3

[Service]
User=admin
ExecStartPre=/usr/bin/nat.sh start
ExecStart=/usr/bin/nat.sh wait
ExecStop=/usr/bin/nat.sh stop
RestartSec=30

[Install]
WantedBy=sonic.target

