[Unit]
Description=Otel container
Requires=database.service
Before=swss.service
BindsTo=sonic.target
After=sonic.target
StartLimitIntervalSec=1200
StartLimitBurst=3

[Service]
User=admin
ExecStartPre=/usr/local/bin/otel.sh start
ExecStart=/usr/local/bin/otel.sh wait
ExecStop=/usr/local/bin/otel.sh stop
RestartSec=30
